<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorator="template/layout">
	
	<div layout:fragment="content">
		<input id="titulomsg" type="hidden" th:value="#{notificacion.titulo}"/>
		<input id="descripcionmsg" type="hidden" th:value="#{notificacion.bienvenido.usuario(${#authentication.name})}" />
		
		<div class="row">
			
		</div>
	</div>
	
	<div layout:fragment="scripts">
		<script type="text/javascript">
			$(document).ready(function (){
				$.notify({
					
					icon: 'fa fa-info',
					title: $("#titulomsg").val(),
					message: $("#descripcionmsg").val()
				},{
					type: "info"
				});
			});
		</script>
	</div>
</html>