<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorator="template/layout">
	
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
           		<h1 class="page-header" th:text="#{perfil.titulo}">Perfil del Usuario</h1>
            </div>
		</div>
		<div class="row">
			<form role="form" class="form-horizontal" th:object="${usuario}">
				<div class="col-lg-10 col-lg-offset-1">
					<div class="panel panel-default">
						<div class="panel-heading">
							<label th:text="#{perfil.panel.usuario}">Datos del usuario</label>
						</div>
						<div class="panel-body">
                        	<div class="row">
                            	<div class="col-lg-12">
                                	<div class="form-group">
                                		<label for="itUsuario" class="col-lg-3 control-label" th:text="#{perfil.panel.usuario.usuario}"> Usuario:</label>
                                		<div class="col-lg-9">
                                			<input type="text" class="form-control" id="itUsuario" th:value="*{usuario}" th:disabled="'disabled'" />
                                		</div>
                                	</div>
                                	<div class="form-group">
                                		<label for="itClave" class="col-lg-3 control-label" th:text="#{perfil.panel.usuario.clave}"> Contraseña:</label>
                                		<div class="col-lg-9">
                                			<input type="password" class="form-control" id="itClave" th:value="*{clave}" />
                                		</div>
                                	</div>
                                </div>
                            </div>
                     	</div>
					</div>
				</div>
				<div class="col-lg-10 col-lg-offset-1">
					<div class="panel panel-default">
						<div class="panel-heading">
							<label th:text="#{perfil.panel.persona}">Datos personales</label>
						</div>
						<div class="panel-body">
	                    	<div class="row">
	                        	<div class="col-lg-12">
	                            	<div class="form-group">
	                               		<label for="itNombre" class="col-lg-3 control-label" th:text="#{perfil.panel.persona.nombre}"> Nombres:</label>
	                                	<div class="col-lg-9">
	                                		<input type="text" class="form-control" id="itNombre" th:value="*{persona.nombre}"  />
	                                	</div>
	                                </div>
	                                <div class="form-group">
	                               		<label for="itApPaterno" class="col-lg-3 control-label" th:text="#{perfil.panel.persona.apPaterno}"> Apellido Paterno:</label>
	                                	<div class="col-lg-9">
	                                		<input type="text" class="form-control" id="itApPaterno" th:value="*{persona.apPaterno}" />
	                                	</div>
	                                </div>
	                                <div class="form-group">
	                               		<label for="itApMaterno" class="col-lg-3 control-label" th:text="#{perfil.panel.persona.apMaterno}"> Apellido Materno:</label>
	                                	<div class="col-lg-9">
	                                		<input type="text" class="form-control" id="itApMaterno" th:value="*{persona.apMaterno}"  />
	                                	</div>
	                                </div>
	                                <div class="form-group">
	                               		<label for="itDocumento" class="col-lg-3 control-label" th:text="#{perfil.panel.persona.documento}"> Documento de Identidad:</label>
	                                	<div class="col-lg-9">
	                                		<input type="text" class="form-control" id="itDocumento" th:value="*{persona.documento}"  />
	                                	</div>
	                                </div>
	                                <div class="form-group">
	                               		<label for="itEmail" class="col-lg-3 control-label" th:text="#{perfil.panel.persona.email}"> Documento de Identidad:</label>
	                                	<div class="col-lg-9">
	                                		<input type="text" class="form-control" id="itEmail" th:value="*{persona.email}" />
	                                	</div>
	                                </div>
	                           	</div>
	                    	</div>
                   		</div>	
					</div>
				</div>
				<div class="col-lg-2 col-lg-offset-9">
					<input type="submit" th:value="#{perfil.panel.persona.guardar}" value="Guardar" class="btn btn-primary btn-block " />
				</div>
			</form>
		</div>
	</div>
	
	<div layout:fragment="scripts">
		
	</div>
</html>