<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="template/layout">
	
	<div layout:fragment="content" style="margin-top: 5%; margin-bottom: 5%;">
		<form id="formCrearUsuario" action="#" role="form" th:action="@{/register}" method="post" class="form-horizontal" th:object="${usuario}">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label th:text="#{registro.titulo}">Registro del usuario</label>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group" th:classappend="${#fields.hasErrors('persona.nombre') ? 'has-error': ''}">
	                            	<label for="itNombre" class="col-lg-3 control-label" th:text="#{registro.usuario.persona.nombre}">Nombres:</label>
		                            <div class="col-lg-5">
		                            	<input type="text" class="form-control" id="itNombre" th:field="*{persona.nombre}"  />
		                            </div>
		                            <div class="col-lg-4" th:if="${#fields.hasErrors('persona.nombre')}">
	                                	<p th:if="${#fields.hasErrors('persona.nombre')}" th:errors="*{persona.nombre}">Nombre incorrecto</p>
	                                </div>
	                            </div>
	                            <div class="form-group" th:classappend="${#fields.hasErrors('persona.apPaterno') ? 'has-error': ''}">
	                               	<label for="itApPaterno" class="col-lg-3 control-label" th:text="#{registro.usuario.persona.apPaterno}">Apellido Paterno:</label>
	                                <div class="col-lg-5">
	                                	<input type="text" class="form-control" id="itApPaterno" th:field="*{persona.apPaterno}" />
	                                </div>
	                                <div class="col-lg-4">
                                		<p th:if="${#fields.hasErrors('persona.apPaterno')}" th:errors="*{persona.apPaterno}">Apellido Paterno incorrecto</p>
                                	</div>
	                            </div>
	                            <div class="form-group" th:classappend="${#fields.hasErrors('persona.apMaterno') ? 'has-error': ''}">
	                               	<label for="itApMaterno" class="col-lg-3 control-label" th:text="#{registro.usuario.persona.apMaterno}">Apellido Materno:</label>
	                                <div class="col-lg-5">
	                                	<input type="text" class="form-control" id="itApMaterno" th:field="*{persona.apMaterno}"  />
	                                </div>
	                                <div class="col-lg-4">
                                		<p th:if="${#fields.hasErrors('persona.apMaterno')}" th:errors="*{persona.apMaterno}">Apellido Paterno incorrecto</p>
                                	</div>
	                            </div>
	                           	<div class="form-group" th:classappend="${#fields.hasErrors('persona.genero') ? 'has-error': ''}">
	                               	<label for="itGenero" class="col-lg-3 control-label" th:text="#{registro.usuario.persona.genero}">Género:</label>
	                                <div class="col-lg-5">
	                                	<select th:field="*{persona.genero}" class="selectpicker form-control">
	                                		<option th:value="#{persona.genero.masculino.clave}" th:text="#{persona.genero.masculino.valor}" th:selected="*{persona.genero} == #{persona.genero.masculino.clave}">Masculino</option>
	                                		<option th:value="#{persona.genero.femenino.clave}" th:text="#{persona.genero.femenino.valor}" th:selected="*{persona.genero} == #{persona.genero.femenino.clave}">Femenino</option>
	                                	</select>
	                                </div>
	                                <div class="col-lg-4">
                                		<p th:if="${#fields.hasErrors('persona.genero')}" th:errors="*{persona.genero}">Genero incorrecto</p>
                                	</div>
	                            </div>
	                           	<div class="form-group" th:classappend="${#fields.hasErrors('persona.fechaNacimiento') ? 'has-error': ''}">
	                            	<label for="itFechaNacimiento" class="col-lg-3 control-label" th:text="#{registro.usuario.persona.fecha.nacimiento}">Fecha de Nacimiento:</label>
	                               	<div class="col-lg-5">
	                                	<div id="itFechaNacimiento" class="input-group datetimepicker">
		                                	<input type="datetime" class="form-control" th:field="*{persona.fechaNacimiento}"/>
		                                	<span class="input-group-addon">
		                                		<span class="fa fa-calendar"></span>
		                                	</span>
	                                	</div>
	                                </div>
	                                <div class="col-lg-4">
                                		<p th:if="${#fields.hasErrors('persona.genero')}" th:errors="*{persona.genero}">Genero incorrecto</p>
                                	</div>
	                            </div>
	                           	<div class="form-group" th:classappend="${#fields.hasErrors('persona.email') ? 'has-error': ''}">
	                            	<label for="itEmail" class="col-lg-3 control-label" th:text="#{registro.usuario.persona.email}"> Documento de Identidad:</label>
	                               	<div class="col-lg-5">
	                               		<input type="text" class="form-control" id="itEmail" th:field="*{persona.email}" />
	                               	</div>
	                                <div class="col-lg-4">
                                		<p th:if="${#fields.hasErrors('persona.email')}" th:errors="*{persona.email}">Email incorrecto</p>
                                	</div>
	                            </div>
	                            <div class="form-group" th:classappend="${#fields.hasErrors('persona.documento') ? 'has-error': ''}">
	                            	<label for="itDocumento" class="col-lg-3 control-label" th:text="#{registro.usuario.persona.documento}"> Documento de Identidad:</label>
	                                <div class="col-lg-5">
	                                	<input type="text" class="form-control" id="itDocumento" th:field="*{persona.documento}"  />
	                               	</div>
	                               	<div class="col-lg-4">
                                		<p th:if="${#fields.hasErrors('persona.documento')}" th:errors="*{persona.documento}">Documento incorrecto</p>
                               		</div>
	                            </div>
								<div class="form-group" th:classappend="${#fields.hasErrors('usuario') ? 'has-error': ''}">
									<label for="itUsuario" th:text="#{registro.usuario.usuario}" class="col-lg-3 control-label" >Usuario:</label>
									<div class="col-lg-5">
										<input id="itUsuario" type="text" class="form-control" th:field="*{usuario}"/>
									</div>
                                	<div class="col-lg-4">
                                		<p th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}">Usuario incorrecto</p>	
                                	</div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('clave') ? 'has-error': ''}">
                                	<label for="itClave" class="col-lg-3 control-label" th:text="#{registro.usuario.clave}"> Contraseña:</label>
                                	<div class="col-lg-5">
                                		<input type="password" th:name="clave" class="form-control" id="itClave" th:value="*{clave}" />
                                	</div>
                                	<div class="col-lg-4">
                                		<p th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}">Clave incorrecta</p>
                                	</div>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-lg-offset-7">
				<div class="row">
					<div class="col-lg-6">
						<input type="submit" th:value="#{registro.panel.guardar}" value="Guardar" class="btn btn-primary btn-block" />
					</div>
					<div class="col-lg-6">
						<a th:href="@{/login}" th:text="#{registro.panel.cancelar}" class="btn btn-default btn-block">Cancelar</a>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<div layout:fragment="scripts">
		<script th:inline="javascript">
			/*<![CDATA[*/
				var $dt = null;
				
				$(document).ready(function (){
					inicializarComponentSelect();
					$dt = inicializarComponentDatetimePicker([[${#locale.language}]], [[#{formato.fecha.momentjs}]]);
					
					var date = moment([[${usuario.persona.fechaNacimiento}]]);
					setDataDateTimePicker($dt, date);
					
					var mensaje = [[${msjError}]];
					mostrarMensaje(mensaje);
				});
			
				$('#formCrearUsuario').submit(function (event){
					var $form = $(this);
					submitPostForm(event, $form, true, successResponse(), errorResponse(), null);
				});
				
				function errorResponse(){
					printErrorMessage([[#{notificador.titulo}]], [[#{mensaje.crear.usuario.error}]]);
				}
				
				function successResponse(response){
					refresh(response);
					console.log(response);
// 					printInfoMessage([[#{notificador.titulo}]], [[#{mensaje.crear.usuario.correcto}]]);
				}
				
				function mostrarMensaje(mensaje){
					if(mensaje){
						printErrorMessage([[#{notificador.titulo}]], mensaje);
					}
				}
			
			/*]]>*/
		</script>
		
		<script type="text/javascript">
			
		</script>
	</div>
	
</html>