<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<div layout:fragment="scriptfooter">
		<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/vendor/moment/js/moment-with-locales.min.js}"></script>
		<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
		<script type="text/javascript" th:src="@{/sbadmin2/js/sb-admin-2.min.js}"></script>
		<script type="text/javascript" th:src="@{/vendor/bootstrap-notify/js/bootstrap-notify.min.js}"></script>
		<script type="text/javascript" th:src="@{/vendor/bootstrap-select/js/bootstrap-select.min.js}"></script>		
		<script type="text/javascript" th:src="@{/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
		
		<script type="text/javascript" th:src="@{/custom/js/util.js}" ></script>
	</div>	  
</html>